@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code-snippet code {
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    border-radius: 0.15rem;
    outline: 1px solid #111111;
    margin-inline: 0.25rem;
    font-size: 0.9rem;
  }