@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #19181E;
    color: #DADADA
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code-snippet code {
    background-color: #1F1E26;
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    border-radius: 0.15rem;
    outline: 1px solid #DADADA;
    margin-inline: 0.25rem;
  }